@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-size: 16px;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.5;
	font-weight: normal;
	color: #000;
}

/* #D5B3FF */

a {
	text-decoration: none;
}

.gradiented-div {

   background-image: linear-gradient(to right, white 45%, #FBFFA7 45%);

}

.gradiented-div-three {

  background-image: linear-gradient(to right, #B6FFC0 60%, White 60%);   

}

.gradiented-div-four {
  background-image: linear-gradient(to right, White 0%, White 17.5%, #D5B3FF 17.5%, #D5B3FF 82.5%, White 82.5%, White 100%);   
}

